fonts/
recipes/
themes/april-dark.ottytheme
themes/april.ottytheme
themes/ayu-dark.ottytheme
themes/ayu-light.ottytheme
themes/catppuccin-mocha.ottytheme
themes/dracula.ottytheme
themes/floating-card.ottytheme
themes/glass-dark.ottytheme
themes/glass-light.ottytheme
themes/gruvbox-dark.ottytheme
themes/monokai-classic.ottytheme
themes/newsprint.ottytheme
themes/night.ottytheme
themes/nord.ottytheme
themes/one-dark.ottytheme
themes/one-light.ottytheme
themes/owl.ottytheme
themes/paper.ottytheme
themes/pink.ottytheme
themes/rose-pine.ottytheme
themes/seafoam-pastel.ottytheme
themes/solarized-dark.ottytheme
themes/solarized-light.ottytheme
themes/tokyo-night.ottytheme
